body {
  font-size: 12px;
  background-color: #f9f8f6; }

hr {
  margin: 1rem 0; }

li {
  margin-bottom: 0; }

#menu {
  cursor: pointer; }

.sp_menu_toggle {
  display: none; }

.home_box {
  width: 100%;
  color: #887f69;
  background-color: #e8e4da;
  float: left;
  vertical-align: middle;
  display: flex;
  height: 35px;
  align-items: center;
  margin-top: -10px; }

.home {
  width: 10px;
  margin: 10px; }

.cover {
  margin-top: 10px;
  width: 100%; }

.brown_box {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #877e68;
  margin-top: 10px; }

.brown_text1, .brown_text2 {
  position: absolute;
  display: block;
  top: 18px;
  bottom: 18px;
  left: 10%; }

.back {
  width: 115px;
  height: 45px;
  background-color: #877e68;
  margin-top: 30px;
  float: left;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; }

.next {
  width: 115px;
  height: 45px;
  background-color: #877e68;
  margin-top: 30px;
  margin-right: 10px;
  float: right;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; }

.next1 {
  position: absolute;
  top: 16px;
  right: 5%; }

.next2 {
  position: absolute;
  top: 16px;
  right: 5%;
  transform: rotate(90deg); }

.categorie_name {
  position: relative;
  background-color: white;
  width: 100%;
  height: 45px;
  margin-top: 2px;
  line-height: 44px;
  text-indent: 1em; }

.next3 {
  position: absolute;
  top: 16px;
  right: 5%; }

.contact {
  display: flex; }

.sns {
  margin-right: 5px;
  margin-left: 5px;
  list-style-type: none;
  text-align: left; }

.navi img {
  margin-left: 20px; }

#products_box {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center; }

@media (min-width: 769px) {
  #header_in {
    margin: 40px auto; }

  .logo {
    float: left; }

  .product_inner {
    width: 80%; }

  .product_name {
    width: 100%;
    padding-top: 30px; }

  .name {
    font-size: 14px; }

  .number {
    font-size: 10px;
    color: #877e68;
    float: right; }

  #display_img {
    width: 69%;
    float: left; }

  .clearfix:after {
    content: "";
    clear: both;
    display: block; }

  #display_img img {
    margin-top: 10px;
    margin-left: 5px;
    width: 100%; }

  li {
    list-style: none;
    width: 40%;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    position: relative;
    left: 15px; }

  li img {
    width: 100%; }

  #products_box {
    margin-top: 35px;
    height: 1500px; }

  #list_img {
    margin-top: 10px;
    width: 30%;
    float: left;
    position: relative; }

  .COLOR_SIZE {
    color: #887f69;
    font-size: 14px; }

  .COLOR_SIZE table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: #f9f8f6; }

  .COLOR_SIZE td {
    text-align: center;
    border: solid 1px;
    padding: 0.5em;
    font-weight: bold; }

  .COLOR_SIZE .check {
    background-color: white;
    font-size: 15px; }

  .COLOR_SIZE2 {
    color: #887f69;
    font-size: 14px; }

  .COLOR_SIZE2 table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: #f9f8f6; }

  .COLOR_SIZE2 .main {
    text-align: center;
    border: solid 1px;
    padding: 0.5em;
    font-weight: bold;
    width: 33.333%; }

  .COLOR_SIZE2 .sub {
    background-color: white;
    border: solid 1px;
    padding: 0.5em;
    text-align: left; }

  .PRICE {
    color: #887f69;
    font-size: 14px;
    width: 50%;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle; }

  .PRICE h1 {
    color: #e80f66;
    font-size: 22px;
    font-style: italic;
    display: inline-block;
    margin-left: 45px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px; }

  .PRICE h5 {
    color: black;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px; }

  .Add {
    max-height: 56px;
    float: right; }

  .sp_Add {
    display: none; }

  #buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px; }

  .QUANTITIY {
    color: #887f69;
    font-size: 14px; }

  .box {
    border: solid 1px;
    margin: 10px 30px;
    padding: 10px; }

  .detail {
    margin-top: 30px; }

  .detail span {
    font-size: 16px;
    color: #887f69; }

  .detail hr {
    border-color: #887f69; }

  .detail p {
    margin-left: 0; }

  .new_item {
    margin: 30px 0px; }

  .sp_newitem {
    display: none; }

  .newitem_box {
    margin: 2px;
    float: left;
    width: 32%;
    height: 315px;
    background-color: white;
    display: block;
    text-align: center; }

  .newitem_box p {
    text-align: left; }

  .newitem {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 10px;
    text-align: block; }

  .sp_recent {
    display: none; }

  .recent {
    margin: 30px 0px; }

  .guide_image {
    margin: 30px 0px; }

  .sp_guide {
    display: none; }

  .guide_box {
    width: 350px;
    height: 270px;
    background-color: white;
    float: left;
    margin-left: 2px;
    margin-bottom: 90px; }

  .otodoke {
    margin-left: 10px; }

  h1.guide {
    color: #887f69;
    font-size: 16px;
    margin: 20px 0px 10px 10px; }

  h2.guide {
    color: #887f69;
    font-size: 12px;
    margin: 10px; }

  span.guide {
    margin-left: 10px; }

  .search {
    background-color: white;
    width: 220px;
    height: 90px; }

  .search_title {
    padding: 20px 0px 0px 20px; }

  .search_inner {
    background-image: url(../images/images/top/search_icon.png);
    background-repeat: no-repeat;
    margin-top: 0.3rem;
    background-position: right 5px center;
    background-color: #eeeeee;
    width: 180px;
    height: 30px;
    margin-left: 20px;
    text-align: left;
    line-height: 30px;
    text-indent: 10px;
    font-style: italic;
    color: #cbcbcb; }

  .about_box {
    background-color: white;
    width: 100%;
    height: 266px;
    margin-top: 2px; }

  .about_img {
    margin: 10px;
    width: 90%; }

  p {
    margin: 8px 12px; }

  .more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }

  .sp_navi img {
    display: none; }

  .pagetop {
    float: right; }

  .copy {
    color: lightgray;
    font-size: 10px;
    text-align: center; } }
@media (max-width: 768px) {
  body {
    width: 100%; }

  .logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px; }

  .navi {
    display: none; }

  .sp_navi img {
    display: block;
    position: relative; }

  .sp_menu_toggle {
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: white;
    z-index: 2; }

  .contact img {
    display: block; }

  #products_box {
    margin-top: 10px;
    height: 1500px; }

  .product_inner {
    width: 95%; }

  .product_name {
    width: 100%;
    padding-top: 20px; }

  .name {
    font-size: 20px; }

  .number {
    font-size: 10px;
    color: #877e68;
    display: block; }

  #display_img {
    width: 100%;
    float: left; }

  .clearfix:after {
    content: "";
    clear: both;
    display: block; }

  #display_img img {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 100%; }

  li {
    list-style: none;
    width: 18%;
    cursor: pointer;
    float: left;
    margin: 0px 3px;
    position: relative;
    left: 0px; }

  li img {
    width: 100%; }

  #products_box {
    margin-top: 35px;
    height: 1500px; }

  #list_img {
    margin-top: 10px;
    width: 100%;
    float: left;
    position: relative; }

  .new_item {
    display: none; }

  .sp_newitem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }

  .newitem_box {
    margin: 2px;
    float: left;
    width: 48%;
    background-color: white; }

  .newitem_box p {
    margin: 8px 12px; }

  .newitem {
    display: block;
    width: 88%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }

  .sp_recent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 10px; }

  .recent {
    display: none; }

  .guide_image {
    display: none; }

  .guide_container img {
    display: block;
    margin-top: 10px; }

  .sp_guide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #f9f8f6;
    z-index: 1; }

  .guide_box {
    width: 98%;
    background-color: white;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .otodoke {
    margin-left: 10px;
    width: 174px; }

  h1.guide {
    color: #887f69;
    font-size: 16px;
    margin: 20px 0px 10px 10px; }

  h2.guide {
    color: #887f69;
    font-size: 12px;
    margin: 10px; }

  span.guide {
    margin-left: 10px; }

  .contact {
    display: flex;
    justify-content: center; }

  .contact img {
    margin: 7px; }

  .search_box {
    display: none; }

  .side_bar {
    margin-top: 30px; }

  .search {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px; }

  .search_title {
    display: none; }

  .search_inner {
    display: block;
    background-image: url(../images/images/top/search_icon.png);
    background-repeat: no-repeat;
    margin-top: 0.3rem;
    background-position: right 5px center;
    background-color: #eeeeee;
    width: 88%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 30px;
    text-indent: 10px;
    font-style: italic;
    color: #cbcbcb; }

  .about_box {
    position: relative;
    background-color: white;
    width: 100%;
    overflow: auto;
    margin-top: 2px;
    box-sizing: border-box; }

  .about_img {
    margin: 10px;
    width: 45%; }

  .about_box p {
    width: 45%;
    margin: 8px;
    position: absolute;
    right: 0;
    top: 0; }

  .more {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%; }

  .pagetop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }

  .copy {
    color: lightgray;
    font-size: 10px;
    text-align: center; }

  .COLOR_SIZE {
    color: #887f69;
    font-size: 14px; }

  .COLOR_SIZE table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: #f9f8f6; }

  .COLOR_SIZE td {
    text-align: center;
    border: solid 1px;
    padding: 0.5em;
    font-weight: bold; }

  .COLOR_SIZE .check {
    background-color: white;
    font-size: 15px; }

  .COLOR_SIZE2 {
    color: #887f69;
    font-size: 14px; }

  .COLOR_SIZE2 table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: #f9f8f6; }

  .COLOR_SIZE2 .main {
    text-align: center;
    vertical-align: middle;
    border: solid 1px;
    padding: 0.5em;
    font-weight: bold;
    width: 33.333%; }

  .COLOR_SIZE2 .sub {
    background-color: white;
    border: solid 1px;
    padding: 0.5em;
    text-align: left; }

  .PRICE {
    color: #887f69;
    font-size: 14px;
    width: 100%;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle; }

  .PRICE h1 {
    color: #e80f66;
    font-size: 22px;
    font-style: italic;
    display: inline-block;
    margin-left: 45px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px; }

  .PRICE h5 {
    color: black;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px; }

  .Add {
    display: none; }

  .sp_Add {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .QUANTITIY {
    color: #887f69;
    font-size: 14px; }

  .box {
    border: solid 1px;
    margin: 10px 25px;
    width: 50%;
    height: 30px; }

  .detail {
    margin-top: 30px; }

  .detail span {
    font-size: 16px;
    color: #887f69; }

  .detail hr {
    border-color: #887f69; }

  .detail p {
    margin-left: 0; } }

/*# sourceMappingURL=style.2.css.map */
